<div>
  <ngb-toast *ngIf="message" header="Notification!" [autohide]="false" (hidden)="message=''">
    {{message}}
  </ngb-toast>
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Search</span>
    <input type="text" #search (keyup)="0" class="form-control" placeholder="Search a workout" aria-label="Username" aria-describedby="basic-addon1">
  </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Calories Burnt Per Minute</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Total Calories Burnt</th>
        <th scope="col">Assigned to Users</th>
        <th scope="col" colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let workout of workouts | searchWorkout:search.value" class="therow">
        <th scope="row">{{workout.id}}</th>
        <td class="title">{{workout.title}}</td>
        <td>{{workout.desc}}</td>
        <td>{{workout.cbpm}}</td>
        <td>{{workout.startTime | date: 'mediumTime'}}</td>
        <td>{{workout.endTime | date: 'mediumTime'}}</td>
        <td class="totalcals">{{workout.totalCaloriesBurnt? workout.totalCaloriesBurnt: 0 }}</td>
        <td>
          <ul *ngIf="workout.users">
             <li *ngFor="let user of workout.users">{{user.email}}</li>
          </ul>
        </td>
        <td><button (click)="deleteWorkout(workout.id)" class="btn btn-danger"> X </button></td>
        <td><button [disabled]="workout.startTime" (click)="startWorkout(workout.id)" class="btn btn-primary"> Start </button></td>
        <td><button [disabled]="!workout.startTime || workout.endTime" (click)="endWorkout(workout.id)" class="btn btn-primary"> End </button></td>

      </tr>
     
    </tbody>
  </table>
