<div *ngIf="showMessage" class="alert alert-success" role="alert">
  Course successfully deleted!
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course</th>
        <th scope="col">Author</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses;let i=index">
        <th scope="row">{{i + 1}}</th>
        <td><a class="nav-link active" routerLink="/update/{{course.id}}">{{course.title}}</a></td>
        <td>{{course.author}}</td>
        <td><button (click)="deleteCourse(course.id)" class="btn btn-danger"> X </button></td>

      </tr>
     
    </tbody>
  </table>

